Repository ssec-jhu/evolver-ng, pull requests merged in 2024-11, with the labels that each got.

#200 adding post-abort start and active check endpoints
  README.md
  docs/source/concepts.rst
  evolver/app/main.py
  evolver/app/tests/test_app.py
  evolver/device.py
  evolver/tests/test_device.py
Labels: new feature, app, experiment control

#187 Handling exceptions in loop for application run
  evolver/app/main.py
  evolver/controller/standard/tests/test_chemostat.py
  evolver/device.py
  evolver/tests/test_device.py
Labels: enhancement, new feature, evolver manager

#216 Add nested config test and temp downgrade of pydantic
  evolver/tests/test_base.py
  pyproject.toml
  requirements/prd.txt
Labels: bug, dependencies, fix, config
