Repository ssec-jhu/evolver-ng, pull requests merged in 2024-10, with the labels that each got.

#185 Save config upon exiting evolver context
  evolver/app/main.py
  evolver/device.py
  evolver/settings.py
Labels: new feature, app, evolver manager

#192 Concepts doc
  docs/source/api.rst
  docs/source/concepts.rst
Labels: documentation

#194 Add abort api
  evolver/app/main.py
  evolver/app/tests/test_app.py
  evolver/device.py
  evolver/hardware/demo.py
  evolver/hardware/interface.py
  evolver/hardware/standard/led.py
  evolver/hardware/standard/pump.py
  evolver/hardware/standard/stir.py
  evolver/hardware/standard/temperature.py
  evolver/hardware/standard/tests/test_standard.py
  evolver/hardware/test_utils.py
  evolver/tests/test_device.py
Labels: new feature, app, hardware
