Repository ssec-jhu/evolver-ng, pull requests merged in 2024-09, with the labels that each got.

#155 fix chemostat for pump, test against real hw Input model
  evolver/controller/standard/tests/test_chemostat.py
  evolver/hardware/standard/pump.py
  evolver/hardware/standard/tests/test_standard.py
Labels: bug, fix, hardware

#157 147 call transformers for temp
  calibration_files/default_temperature_calibration_config.yml
  evolver/app/tests/test_app.py
  evolver/calibration/interface.py
  evolver/calibration/standard/polyfit.py
  evolver/calibration/standard/tests/test_fitting.py
  evolver/hardware/interface.py
  evolver/hardware/standard/temperature.py
  evolver/hardware/standard/tests/test_standard.py
  evolver/hardware/test_utils.py
  evolver/settings.py
  evolver/tests/conftest.py
  pyproject.toml
  requirements/test.txt
  scripts/gen_default_cali_files.py
Labels: calibration

#169 Call transformers for OD
  calibration_files/default_od135_calibration_config.yml
  calibration_files/default_od90_calibration_config.yml
  evolver/calibration/interface.py
  evolver/calibration/standard/curve_fit.py
  evolver/calibration/standard/polyfit.py
  evolver/calibration/standard/sigmoid.py
  evolver/hardware/standard/od_sensor.py
  evolver/hardware/standard/temperature.py
  evolver/hardware/standard/tests/test_standard.py
  evolver/settings.py
  pyproject.toml
  requirements/prd.txt
  scripts/gen_default_cali_files.py
Labels: enhancement, refactor, new feature, hardware, calibration

#171 Don't test network when testing locally
  evolver/app/tests/test_html.py
Labels: bug, fix, ci

#173 Rename Transformer.Config.coefficients -> parameters
  calibration_files/default_od135_calibration_config.yml
  calibration_files/default_od90_calibration_config.yml
  calibration_files/default_temperature_calibration_config.yml
  evolver/app/tests/test_app.py
  evolver/calibration/standard/curve_fit.py
  evolver/calibration/standard/polyfit.py
  evolver/calibration/standard/tests/test_fitting.py
Labels: refactor, calibration
